.main-cart {
  width: 70%;
  margin: auto;
}

.cart-title {
  font-family: Montserrat;
  font-weight: bold;
  padding: 2em 0 0 0;
  text-decoration: underline;
  text-align: center;
}

.item-count {
  font-family: Montserrat;
  font-weight: 500;
  padding-top: 1.5em;
  color: rgb(129, 127, 127);
}

.image-to-name {
  display: flex;
}

.cart-image {
  width: 100px;
  height: 90px;
  margin-right: 2em;
}

.name-color-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.cart-name,
.cart-color,
.cart-size,
.cart-price {
  font-family: Montserrat;

  &.cart-name {
    font-weight: bold;
  }

  &.cart-color,
  &.cart-size {
    font-size: 13px;
  }
}

.quantity-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
}

.plus-minus {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 1px;

  &:hover {
    cursor: pointer;
  }
}

.cart-quantity {
  margin: 0 0.5em;
}

table {
  width: 100%;
}

.headers {
  // font-size: 22px;
  width: 90%;
  margin: auto;

  th {
    border-bottom: 1px solid rgb(203, 203, 203);
  }
}

td {
  text-align: center;
}

.remove-item {
  padding-top: 1em;
  color: red;
  font-size: 12px;
  border: none;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

td {
  border-bottom: 1px solid rgb(203, 203, 203);
}

.taxes-total {
  margin: 10px auto;
  font-family: Montserrat;
  // font-size: 17px;
  width: 30%;
}

.taxes,
.total,
.total-before {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &.taxes {
    color: rgb(156, 156, 156);
    border-bottom: 1px solid rgb(203, 203, 203);
  }
}

.empty-cart {
  text-align: center;
  margin-top: 3em;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
}
