.main-products-container {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  margin: auto;
}

.all-products {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  width: 250px;
  margin: 2em;

  .product-navlink {
    text-decoration: none;

    &:hover {
      text-decoration: underline black;
    }
  }

  img {
    width: 250px;
    height: 200px;
  }

  .name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;

    .product-name,
    .product-price {
      font-family: Montserrat;
      font-weight: 500;
      text-align: left;
      color: black;
    }
  }

  .product-category {
    text-align: left;
    font-family: Montserrat;
    color: grey;
  }
}

.title-description {
  font-family: Montserrat;
  padding: 20px;
  border-bottom: solid 1px rgb(167, 163, 163);
}

.filter-to-products {
  display: flex;
  flex-direction: row;
  
  @media screen and (max-width: 700px) {
    flex-direction: column
  }
}

.filter-column,
.styles {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  align-items: flex-start;

  &.filter-column {
    margin-left: 2em;
    width: 25%;

    @media screen and (max-width: 700px) {
      width: 75%;
      margin: auto;
      
    }
  }

  .filter-title {
    font-family: Montserrat;
    text-transform: uppercase;
    margin: 1.5em 0 1em 0;
    color: rgb(66, 65, 65);
  }
}

.sub-filter {
  font-family: Montserrat;
  font-weight: bold;
  color: #646464;
}

.all-styles {
  margin: 0.5em 0 0.2em 0.5em;
  font-size: 14px;
  color: rgb(113, 112, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin-right: 5px;
}

.search-bar {
  width: 80%;
  margin-top: 2em;
  padding: 5px;
  border: solid 1px rgb(167, 163, 163);
  border-radius: 3px;
}
