.main-single-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // align-items: center;
  width: 100%;
  margin-top: 2em;
}

.name-price,
.name,
.price {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-family: Montserrat;
  flex-wrap: wrap;

  &.name {
    font-weight: bold;
  }
}

.style-cat {
  font-family: Montserrat;
  font-size: 15px;
}

.sku {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
}

.size-color {
  margin-top: 1.5em;
  font-family: Montserrat;
  font-weight: 600;
}

.slider-images {
  max-width: 600px;
}

.carousel-root {
  width: 40%;
  text-align: center;
}

.thumb {
  &:hover {
    cursor: pointer;
  }
}

ul {
  padding: 0;
}

.product-desc {
  font-family: Montserrat;
  font-weight: 600;
  margin-top: 1.5em;
}

li {
  font-family: Montserrat;
  font-size: 15px;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  // flex: content;
  width: 100%;
  margin: 2em auto auto auto;
  display: flex;
  justify-content: center;
}

.cart-button {
  width: 80%;
  padding: 1em;
  background-color: #0579d0;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: Montserrat;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    background-color: #62a8f8;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.dont-show-disabled {
  display: none;
}
.show-disabled {
  font-size: 12px;
  color: red;
}
